<div class='calendarsbox'>
  <div class="calender_header">
    <div class='day-title'>日にち\班</div>
    <!-- 班数分３回繰り返す -->
    <% 3.times do |x| %> 
    <% teamid = 1 + x %>
      <!-- 午前・午後の2回繰り返す -->
      <% 2.times do |tz| %> 
        <% tzid = 2 + tz %>
        <div class='team-title'>
              <%= Team.find(teamid).team_name %>班 <%= TimeZone.find(tzid).name %>枠</div>
          
      <% end %>
    <% end %>
  </div>
<div class='calendars'>
  <div class='calendar'>
    <% @week_days.each do |day|%>
      <div class='day-item'>
        <div class='date'>
          <%= day[:month] %>/<%= day[:date] %><br><%= day[:wday] %>
        </div>
      </div>
    <% end %>
  </div>
  </div>
  </div>

  <div class='team-plan'>
    <% 3.times do |x| %> 
      <% teamid = 1 + x %>
        <% 2.times do |tz| %> 
        <% tzid = 2 + tz %>
          <% @calendar.each do |calendar| %>
          <div class='timezone-plan'>
            <% if calendar.team_id == teamid && (calendar.time_zone_id == tzid)%>
            <div class='calendar-date'>
              <%= calendar.scheduled_date %></div>
            <div class='time_zone_id'>
              <%= calendar.time_zone.name %></div>
              <div class='team_name'>
                <%= calendar.team.team_name %></div>
              <% end %>
          </div>
          <% end %>
        <% end %>
    <% end %>
</div>
