<div class='calendarsbox'>
  <div class="calender_header">
    <div class='day-title'>日にち\班</div>
      <!-- 稼働している班数分繰り返す -->
      <% @team.each do |team| %>
        <!-- 午前・午後の2回繰り返す -->
        <% 2.times do |tz| %> 
          <% tzid = 2 + tz %>
          <div class='team-title'>
                <%= team.team_name %>班 <%= TimeZone.find(tzid).name %>枠
          </div>
        <% end %>
      <% end %>
  </div>
  <div class='calendars'>
    <div class='calendar'>
      <% @week_days.each do |day|%>
        <div class='day-item'>
          <div class='date'>
            <%= day[:month] %>/<%= day[:date] %><br><%= day[:wday] %>
          </div>
        </div>
      <% end %>
    </div>
      <!-- 稼働している班数分繰り返す -->
      <% @team.each do |team| %>
            <!-- １班に付き午前１週間・午後１週間の2回繰り返す -->
            <% 2.times do |tz| %> 
            <% tzid = 2 + tz %>
      <div class='calendar'>
      <% @week_days.each do |day| %>
        <div class='item'>
          <div class='content'>
            <% @calendar.each do |cal| %>
            <% if day[:scheduled_date] == cal.scheduled_date && cal.time_zone_id == tzid && cal.team_id == team.id%>
            <div><%= link_to "予約詳細", calendar_path(cal.id), class: :nav__btn %></div>
            <div><%= Size.find(cal.size_id).name%></div>
            <div><%= cal.scheduled_date%></div>
            <div><%= cal.team.team_name%></div>
            <%end%>
            <%end%>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
